.center {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.link-nb {
  border-bottom: 0px !important;
  text-decoration: underline;
}

.star {
  border: 0 !important;
  padding: 0 !important;
  padding-bottom: 4px !important;
}
